{
  "movieRename": true,
  "movieDirPath": "example/originData/电影/",
  "movieRootPath": "example/newData/电影/",
  "tvRename": true,
  "tvDirPath": "example/originData/电视剧/",
  "tvRootPath": "example/newData/电视剧/",
  "movieDirFormat": "{title} ({year}) [imdbid={imdbid}]",
  "movieTitleFormat": "{title}",
  "tvDirFormat": "{title} ({year})",
  "episodeDirFormat": "Season {season}",
  "episodeTitleFormat": "{title} S{SEASON}E{EPISODE}"
}